<div class="img-carousel-container">
  <carousel>
    <slide *ngFor="let image of images">
      <img [src]="image.url" class="slider-image" alt="Slide {{image.id}}">
      <div class="carousel-caption slider-text">
        <h1>{{ image.title }}</h1>
        <p>{{ image.description }}</p>
        <button>Kaufen</button>
      </div>
    </slide>
  </carousel>
  <div class="games-container">
    <div class="deal-of-the-day-container">
      <div class="left-deal-cont-part">
        <h1>Deal of the Day</h1>
        <div>
          <img src="assets/img/games/Sims4.jpg">
          <h2 id="deal-of-the-day-title">Sims 4</h2>
        </div>
      </div>
      <div class="right-deal-cont-part"></div>
    </div>
  </div>
  <div class="impressum"></div>
</div>
