.wow-retail-gold-page {
  margin-left: 10%;
  width: 90%;
  height: 85vh;
  background-image: url("./../../../../assets/img/DragonflightMainImg.jpg");
  /* Hintergrundbildgröße */
  background-size: cover;
  /* Hintergrundbildposition */
  background-position: center;
  /* Hintergrundbildwiederholung */
  background-repeat: no-repeat;
  /* Hintergrundfarbe, falls das Bild nicht geladen werden kann */
  background-color: #666161;
  position: fixed; /* Positionierung des Elternelements */
  z-index: 0;
  display: flex;
  align-items: baseline;
  overflow: hidden;
}

.wow-retail-gold-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background: linear-gradient(
    to bottom,
    rgba(121, 120, 120, 0.6) 0%,
    rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: -1;
}

.wow-gold-main-page-content-wrapper {
  color: rgb(217, 217, 227);
  z-index: 2;
  background-color: rgba(42, 42, 75, 0.66);
  width: 75%;
  min-height: 750px;
  max-height: 100%;
  padding: 15px;
  margin: 20px auto auto;
  overflow-y: auto;

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .location-path {
    color: darkgrey;
  }

  .gold-retail-paragraph {
    margin-top: 30px;
    font-size: 0.9rem;
  }

  .scam-notification {
    font-size: 0.75rem;
    padding: 7px 7px 7px 12px;
    background-color: rgba(96, 28, 28, 0.76);
  }

  .offers {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 550;
  }

  &::-webkit-scrollbar {
    width: 5px; /* Breite der vertikalen Scrollleiste */
  }

  &.inner::-webkit-scrollbar-track {
    background: transparent; /* Hintergrundfarbe des Scrollbalken-Tracks */
  }

  &.inner::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Farbe des Scrollbalken-Griffs */
    border-radius: 10px; /* Abrundung des Scrollbalken-Griffs */
  }
}

.below-side-part {
  background: black;
  width: 90%;
  max-height: 300vh;
}
