<div class="wow-classic-gold-main-page">
  <div class="wow-gold-main-page-content-wrapper">
    <p class="location-path">Home > World of Warcraft: Classic > Gold</p>
    <h1>WoW GOLD Classic</h1>
    <p class="gold-classic-paragraph">
      {{ "wow.classic.gold-message" | translate }}
    </p>
    <span class="scam-notification">{{ "wow.gold-security-hint-message" | translate }}</span>
    <p class="offers">{{ offers }} {{ "wow.offers" | translate }}</p>
    <app-wow-gold-offer></app-wow-gold-offer>
  </div>
</div>
