<div class="item-wrapper">
  <div class="currency-wrapper">
    <h2>20.00€</h2>
    <span class="subtitle">{{ "wow.gold-offer.gold-offer-item.amount-text" | translate }} 100K</span>
  </div>
  <div class="seller-stock">
    <p>1000000 {{ "wow.gold-offer.gold-offer-item.stock-text" | translate }}</p>
  </div>
  <span class="server-and-fraction">{{ "wow.servers.server-eu" | translate }}</span>
  <span class="server-and-fraction">{{ "wow.fraction.alliance" | translate }}</span>
  <button>{{ "wow.gold-offer.gold-offer-item.buy-item" | translate }}</button>
</div>
