.nav-tabs {
  margin-bottom: 1rem;
  border-bottom: 0;

  .nav-item {
    display: flex;
    align-items: flex-start;

    &:nth-child(2) {
      margin-left: 1rem;
    }
  }
}

.hrdivider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hrdivider span {
  color: rgba(127, 124, 124, 0.35);
  position: absolute;
  top: -11px;
  left: 43.5%;
  background: #E9ECEF;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1rem;
}

