<aside>
  <div class="asideHeader">Beliebt</div>
  <div class="iconWrapper">
    <img src="../../../assets/img/icons/wowIcon.png" alt="WoW Icon" />
  </div>
  <div class="iconWrapper">
    <img
      src="../../../assets/img/icons/wowClassicIcon.webp"
      alt="WoW Classic Icon"
    />
  </div>
  <div class="iconWrapper">
    <img
      src="../../../assets/img/icons/newWorldIcon.png"
      alt="New World Icon"
    />
  </div>
</aside>

<div class="landing-page">
  <img
    src="../../../assets/img/LichKingImg.jpg"
    alt="Landing Page Lich King Image"
    class="landing-page-img"
  />
</div>

<div class="expansionsContainer">
  <a href="/wow/retail-gold" class="dragonflightExpansion"
    ><img
      alt="Dragonflight Expansion to choose"
      src="../../../assets/img/WoWDragonflightImg.PNG"
  /></a>
  <a href="/wow/classic-gold" class="dragonflightExpansion">
    <img
      class="classicExpansion"
      alt="Classic Expansion to choose"
      src="../../../assets/img/WoWClassicImg.PNG"
    />
  </a>
</div>

